
/* VARIABLES */
:root{
--bg: #444;
--bgr: #C7171FFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px cornflowerblue; */
}
body{
    background-image: url(/images/bg-body.png);
    font-family: Arial, Helvetica, sans-serif;
}
body .container{
    padding: 10px;
}

/* HEADER */
.main-header .logo{
    border-radius: 100px;
}
.main-header{
    text-align: center;
    font-weight: bold;
}
.main-header .toggle-nav {
    display: block;
    color: white;
    font-size: 25px;
    background-color: var(--bg);
    margin: 20px auto;

    padding: 5px 0 32px 0;
    border-radius: 3px;
    width: fit-content;
    width: -moz-fit-content;
    width: 40px;
    height: 30px;
}

/* NAV */

.main-nav a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: var(--bg);
    margin: 1px 0;
    padding: 5px 0;
    text-transform: uppercase;
    
}
.main-nav ul{
    list-style: none;
    margin-bottom: 20px;
}

/* BANER */
.banner{
    display: none;
}

/* ARTICULOS */
.vip-products{
    margin: 0px auto;
}
.product{
    max-width: 380px;
    min-width: 380px;
    margin-right: 5px;
    display: inline-block;
}
.photo-container{
    position: relative;
}
.photo{
    width: 100%;
}
.special{
    position: absolute;
    right:0;
}
.zoom{
    position: absolute;
    text-align: center;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 7px 0;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    color: white;
    font-weight: bold;
}


.product h2{
    margin: 10px 2px ;
    font-size: 20px;
    font-weight: bold;
}
.product p {

    color: var(--bg);
    font-size: 15px;
    margin: 5px 2px 20px;
}
.more{
    background-color: var(--bg);
    color: white;
    text-decoration: none;
    padding: 8px 13px;
    font-size: 15px;
    margin: 20px 0;
    font-weight: bold;
}

.main-footer{
    text-align: center;
    padding: 10px 0;
}
.main-footer ul li{
    list-style: none;

    background-color: var(--bgr);
    margin: 2px 0;
    padding: 5px 0;
    text-transform: uppercase;
}
.main-footer ul li a{
    text-decoration: none;
    color: white;
}

/* MEDIAS */

/* TABLET */ 

@media (min-width: 768px){
    .banner{
        display: block;
        width: 100%;
    }
    .banner img{
        width: 100%;
    }
    .main-header .toggle-nav {
        display: none;
    }
    .main-nav ul li{
        display: inline-block;
    }
    .main-nav ul li a{
        padding: 10px 10px;
        margin: 0 5px;
        font-size: 14px;
    }
}

/* DESKTOP */

@media (min-width: 1024px){
    
    .main-nav ul li a{
        padding: 10px 30px;
        margin: 0 5px;
        font-size: 14px;
    }
    .main-nav ul{
        margin: 30px 0 20px 80px;
    }

    .main-footer{
        text-align: center;
        background-color: var(--bgr);
        padding: 50px 0;
        border-radius: 30px 30px 0 0;
    }
    .main-footer ul li{
        display: inline-block;
        border-right: 1px solid white;
        padding: 0 10px;
    }
    .main-footer ul li a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
        padding: 0 ;
    }
    .main-footer ul li:last-child{
        border: none;
    }
    .main-footer{
        display:block;
    }
}
